@{ 
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client DashBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>We Provide you Quotes</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="button" class="btn btn-primary" value="New Quote" onclick="location.href='@Url.Action("GetQuote", "Quote")'" />
                <input type="button" class="btn btn-primary" value="Quote History" onclick="location.href='@Url.Action("QuoteHistory", "Quote")'" />
            </div>
            <div class="col-md-8">
                <img src="~/Images/Mainpagelogo.png" style="padding-left:200px;" class="rounded" alt="Cinque Terre" />
            </div>
        </div>
    </div>
</body>
</html>

